{% extends 'base.html.twig' %}

{% block title %}Les agents{% endblock %}

{% block body %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h1>Validé</h1>
            </div>
        </div>

        <h1>Validé</h1>
            {{ form(form) }}
        <a href={{ path ('agents')}}>Retour a la liste</a>
        {% endblock %}
    </div>
{% endblock %}
