{% extends 'base.html.twig' %}

{% block title %}Rechercher un agent{% endblock %}

{% block body %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Rechercher un agent</h4>
            </div>
        </div>

            {{ form(form) }}
        {% endblock %}
    </div>
{% endblock %}
