{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
<ol>
        <li> {{ Fonctions.FonctionLibelle }}</li>
        <li><a href={{ path('editFonction', {'id': Fonctions.id}) }}>Editer</a></li>
</ol>
<div>
<a href='/params/fonctions'>Retour</a>
</div>
{% endblock %}
